<!DOCTYPE html>
<html>
<head>
    <title>Restaurants et leurs plats</title>
</head>
<body>
    <% for (let restaurantId in restaurants) { %>
        <div>
            <h2><%= restaurants[restaurantId].nom %></h2>

            <h3>Entrées</h3>
            <ul>
                <% restaurants[restaurantId].entrees.forEach(plat => { %>
                    <li>
                        <strong><%= plat.plat_nom %></strong> - <%= plat.description %> - <%= plat.prix %> EUR
                    </li>
                <% }); %>
            </ul>

            <h3>Plats</h3>
            <ul>
                <% restaurants[restaurantId].plats.forEach(plat => { %>
                    <li>
                        <strong><%= plat.plat_nom %></strong> - <%= plat.description %> - <%= plat.prix %> EUR
                    </li>
                <% }); %>
            </ul>

            <h3>Desserts</h3>
            <ul>
                <% restaurants[restaurantId].desserts.forEach(plat => { %>
                    <li>
                        <strong><%= plat.plat_nom %></strong> - <%= plat.description %> - <%= plat.prix %> EUR
                    </li>
                <% }); %>
            </ul>
        </div>
    <% } %>
</body>
</html>
